<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultConnection" value="Data Source=LAPTOP-TMML8LN7;Initial Catalog=TrainingManagement;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</appSettings>
</configuration>